# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

.idea/*
!.idea/codeStyles/
!.idea/codeStyleSettings.xml
!.idea/inspectionProfiles/
.idea/codeStyles/Project.xml
.DS_Store
out/*