package ${package_name}

import androidx.navigation.NavController
import ru.bagrusss.architecture.mvi.navigation.BaseNavRouter
import ru.bagrusss.architecture.mvi.navigation.ResultsMediator
import javax.inject.Inject

internal class ${name}Router @Inject constructor(
    resultsMediator: ResultsMediator,
    private val navController: NavController
) : BaseNavRouter(resultsMediator), ${name}Contract.Router {

}